@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400&display=swap");
*{
 	margin: 0;
 	padding: 0;
 	border: 0;
  	box-sizing: border-box;
	scroll-behavior: smooth;
}
button{
	cursor: pointer;
}
a{
	text-decoration: none;
}
main{
	height: 100%;
	margin: 10px;
	display: flex;
	flex-direction: row;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	position: relative;
	overflow: hidden;
}
#esquerda{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 40%;
	padding: 20px 0px 30px 0px;
	background-color: #D8C593;
	font-family: 'Rubik', sans-serif;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	z-index: 1;
}
#esquerda #foto{
	margin-top: 35px;
	border: 10px solid #FFF;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
#foto img{
	margin-top: -60px;
	margin-left: -17px;
	width: 290px;
}
#foto div{
	margin-top: -4px;
	padding-top: 10px;
	display: flex;
	gap: 3px;
	flex-direction: column;
	background-color: #FFF;
}
#foto p{
	font-size: 1.2em;
}
#foto h3{
	font-size: 2em;
}
#areaAnimacao{
	display: flex;
	flex-wrap: row nowrap;
	align-items: center;
}
#bordaEsquerda{
	background: linear-gradient(to left, transparent 0%, #FFF 250%);
	width: 5px;
	height: 40px;
}
#bordaDireita{
	background: linear-gradient(to right, transparent 0%, #FFF 250%);
	width: 5px;
	height: 40px;
}
#slider{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	height: 100px;
	width: 300px;
	gap: 20px;
	font-size: 2.5em;
	color: #FFF;
}
@keyframes animacaoSlide{
	0%{
		transform: translateX(-250px)
	}
  	50%{
  		transform: translateX(200px)
  	}
  	100%{
  		transform: translateX(-250px)
  	}
}
#areaAnimacao p{
	animation: animacaoSlide 25s 0s infinite normal;
}
#areaContatos{
  	display: flex;
  	align-items: center;
  	flex-direction: column-reverse;
}
#areaAvisos{
 	position: absolute;
  	color: #FFF;
  	bottom: 13px;
 	font-size: 1.5em;
  	background: none;
}
#contatos{
	display: flex;
	z-index: 1;
	align-items: center;
	justify-content: center;
  	height: 110px;
	gap: 15px;
}
#contatos a{
  	width: 60px;
 	height: 60px;
 	transition: 0.3s;
 	border-radius: 5px;
}
#botaoGithub{
	background: url(../img/iconeGithub.png) no-repeat center;
  	background-size: cover;
}
#botaoLinkedin{
  	background: url(../img/iconeLinkedin.png) no-repeat center;
  	background-size: cover;
}
#botaoWhatsapp{
    background: url(../img/iconeWhatsapp.png) no-repeat center;
  	background-size: cover;
}
#botaoGmail{
  	background: url(../img/iconeGmail.png) no-repeat center;
  	background-size: cover;
  	width: 60px;
  	height: 60px;
  	cursor: pointer;
  	transition: 0.3s;
}
#botaoGithub:hover{
  	background-image: url(../img/iconeGithubColorido.png);
}
#botaoLinkedin:hover{
  	background-image: url(../img/iconeLinkedinColorido.png);
}
#botaoWhatsapp:hover{
  	background-image: url(../img/iconeWhatsappColorido.png);
}
#contatos a:hover{
	transform: scale(1.2);
}
#botaoGmail:hover{
	background-image: url(../img/iconeGmailColorido.png);
	transform: scale(1.2);
}
#direita{
	display: flex;
	justify-content: center;
	width: 60%;
	background-color: #F5F5F5;
	font-family: 'Roboto', sans-serif;
}
#direita button{
	border-radius: 50px;
	padding: 3px 13px;
	background: none;
	transition: 0.3s;
}
#botoes{
	align-self: center;
	width: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 2;
}
#botaoEsquerda{
	visibility: hidden;	
}
#botaoEsquerda img{
	margin-right: 5px;
}
#botaoDireita img{
	margin-left: 5px;
}
#botaoEsquerda:hover{
	padding: 3px 23px 3px 3px; 
}
#botaoDireita:hover{
	padding: 3px 3px 3px 23px;
}
#areaConteudo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	width: 750px;
	height: 730px;
	transition: 0.5s linear;
}
section > h1{
	text-align: center;
	font-size: 3em;
	margin-top: 20px;
}
section > p{
	margin-top: 35px;
	line-height: 2em;
	font-size: 1.6em;
}
#saibaMais strong{
	font-size: 1.3em;
}
section > a{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	width: 450px;
	margin-top: 5px;
	font-size: 2em;
	color: #534B4B;
	font-weight: bold;
	border-radius: 50px;
	padding: 10px;
	background-color: #D9D9D9;
	transition: 0.4s;
}
section > a:hover{
	color: #FFF;
	background-color: #80C5EA;
}
.desfoco{
	position: absolute;
	visibility: hidden;
	transform: translateX(-999px);
}
#caixaConhecimentos{
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
}
.conhecimento{
	display: flex;
	flex-flow: row nowrap;
	height: 130px;
	margin-top: 30px;
}
.conhecimento img{
	width: 90px;
	height: 90px;
}
.conhecimento p{
	color: #71688B;
	font-size: 1.8em;
	margin-top: -20px;
	font-weight: bold;
}
svg{
	width: 250px;
	height: 80px;
}
svg circle, line{
	stroke: #71688B; 
	stroke-width: 5;
	fill: #C59BCF;
}
circle{
	cy: 37; 
	r: 15;
}
.c1{
	cx: 20;
	fill: #74CC93;
}
.c2{
	cx: 125;
}
.c3{
	cx: 227;
}
.intermediario,
.intermediario .c2{
	text-align: center;
	fill: #74CC93;
}
.lineSM{
	display: none;
}
#areaProjetos{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.projeto{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 300px;
	height: 300px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 20px;
	background-color: #B6E5FF;
	color: #000;
	transition: 0.5s;
}
.projeto:hover{
	transform: scale(0.9);
}
.projeto h2{
	font-size: 2.3em;
	background-color: #47BFFF;
	border-radius: 10px;
	padding: 5px 20px;
	color: #000;
	font-weight: bold;
}
.projeto img{
	border: 1px solid #000;
	width: 250px;
}
.projeto p{
	font-weight: bold;
	font-size: 1.4em;
}
.emBreve{
	cursor: not-allowed;
	opacity: 0.7;
}
.emBreve img{
	transform: rotate(15deg);
}
@media(max-width: 1300px){
  section{
    width: 650px;
  }
  section > p{
    margin-top: 0px;
  }
}
@media(max-width: 1200px){
  section{
		width: 600px;
	}
	section > p{
		margin-top: 3px;
	}
	.projeto{
		width: 280px;
	}
	.projeto img{
		width: 200px;
	}
  #caixaConhecimentos{
		grid-template-columns: repeat(1, auto);
		overflow-y: scroll;
	}
  .conhecimento img{
		width: 120px;
		height: 120px;
	}
	.conhecimento p{
		margin-top: -10px;
	}
	svg{
		width: 400px;
	}
	circle{
		r: 20;
	}
	.c1{
		cx: 25;
	}
	.c2{
		cx: 200;
	}
	.c3{
		cx: 365;
	}
	.linePadrao{
		display: none;
	}
	.lineSM{
		display: unset;
	}
}
@media(max-width: 1110px){
	section{
		width: 550px;
	}
	.projeto{
		width: 250px;
	}
}
@media(max-width: 1050px){
	section{
		width: 450px;
	}
	section > p{
		margin-top: 0px;
		font-size: 1.5em;
	}
	svg{
		width: 300px;
	}
	.c2 {
    	cx: 150;
	}
	.c3 {
    	cx: 265;
	}
	.lineSM{
		display: none;
	}
	.linePadrao{
		display: unset;
	}
	.projeto{
		width: 400px;
    margin-bottom: 10px;
	}
	.projeto img{
		width: 250px;
	}
	#areaProjetos{
		overflow-y: scroll;
	}
}
@media(max-width: 900px){
	main, #areaConteudo{
		flex-direction: column;
	}
	#esquerda, #direita{
		width: inherit;
	}
  	#areaAvisos{
    	bottom: 2200px;
    	top: 560px;
  	}
	#botoes{
		display: none;
	}
	.desfoco{
		position: relative;
		visibility: visible;
		transform: none;
	}
	section{
		width: 800px;
		height: auto;
		padding: 20px;
		border-bottom: 1px solid #E0E0E0;
	}
	section > p{
		margin-top: 25px;
	}
	#caixaConhecimentos{
		grid-template-columns: repeat(2, auto);
		overflow-y: hidden;
	}
	.conhecimento img{
		width: 100px;
		height: 100px;
	}
	#areaProjetos{
		overflow-y: hidden;
	}
	.projeto{
		width: 300px;
	}
}
@media(max-width: 850px){
	section{
		width: 700px;
	}
	svg{
		width: 250px;
	}
	circle{
		r: 15;
	}
	.c1{
		cx: 20;
	}
	.c2{
		cx: 125;
	}
	.c3{
		cx: 232.5;
	}
}
@media(max-width: 770px){
	section{
		width: 650px;
	}
	#caixaConhecimentos{
		grid-template-columns: repeat(1, auto);
	}
	.conhecimento img{
		width: 120px;
		height: 120px;
	}
	svg{
		width: 400px;
	}
	circle{
		r: 20;
	}
	.c1{
		cx: 25;
	}
	.c2{
		cx: 200;
	}
	.c3{
		cx: 365;
	}
	.linePadrao{
		display: none;
	}
	.lineSM{
		display: unset;
	}
}
@media(max-width: 685px){
	section{
		width: 500px;
	}
	.projeto{
		width: 400px;
	}
}
@media(max-width: 570px){
	section{
		width: 400px;
	}
	svg{
		width: 300px;
	}
	.c2 {
    	cx: 150;
	}
	.c3 {
    	cx: 265;
	}
	.lineSM{
		display: none;
	}
	.linePadrao{
		display: unset;
	}
}
@media(max-width: 486px){
	section{
		width: 350px;
	}
	section > a{
		width: 350px;
		font-size: 1.5em;
	}
	section > a img{
		width: 50px;
		height: 60px;
	}
	.conhecimento img{
		width: 100px;
		height: 100px;
	}
	svg{
		width: 250px;
		height: 80px;
	}
	circle{
		cy: 37; 
		r: 15;
	}
	.c1{
		cx: 20;
		fill: #74CC93;
	}
	.c2{
		cx: 125;
	}
	.c3{
		cx: 227;
	}
	.projeto{
		width: 300px;
	}
}
@media(max-width: 375px){
  section > h1{
    font-size: 2.5em;
  }
  section > a{
    width: 300px;
  }
  .conhecimento img{
    width: 75px;
    height: 75px;
  }
}
