@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400&display=swap");
*{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color: #FFF;
}
header{
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	color: #FFF;
	background-color: #8752B0;
	height: 100vh;
	width: 100wh;
}
h1.banner{	
	padding-top: 10px;
	font-size: 9em;
	text-align: center;
}
#areaAnimacao{
	margin: 20px 0px;
	text-align: center;
	height: 100px;
	overflow: hidden;
}
.blocoAnimado{
	font-size: 3em;
	line-height: 5rem;
}
#p1{
	padding-top: 3px;
}
div.blocoAnimado:first-child{
	animation: animacaoScroll 25s 1.4s infinite normal;
}
@keyframes animacaoScroll{
	0%{
		margin-top: 0;
	}
	16%{
		margin-top: -73px;
	}
	33%{
		margin-top: -153px;
	}
	50%{
		margin-top: -233px;
	}
	66%{
		margin-top: -153px;
	}
	82%{
		margin-top: -73px;
	}
	100%{
		margin-top: 0;
	}
}
#avisoGmail{
	visibility: hidden;
	position: absolute;
	font-size: 20px;
	background-color: #3d3c38;
	padding: 7px;
	margin-top: 3px;
	font-size: 18px;
	width: 200px;

	border-radius: 15px;
}
#areaBotoes{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	margin-top: 30px;
}
#areaBotoes a{
	display: flex;
	align-items: center;
	font-size: 3.5em;
	border-radius: 20px;
	padding: 10px;
}
#areaBotoes a img{
	margin-right: 5px;
}
#areaBotoes a:hover, #botaoDownloadCVSM a:hover{
	box-shadow: inset 0px 0px 6px #000;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}
#botaoGmail{
  cursor: pointer;
}
#emailSM{
	margin-top: 10px;
	padding: 3px 10px;
	border-radius: 20px;
	background-color: #E96161;
	display: none;
}
#emailSM span{
	font-size: 2.3em;
}
#botaoDownloadCVSM{
	display: none;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	margin: 10px 20px;
}
#botaoDownloadCVSM a{
	color: #1B1C1E;
	background-color: #6BC2F1;
	padding: 10px;
	font-size: 2em;
	border-radius: 10px;
}
nav{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-evenly;
	font-size: 2.5em;
	margin-top: 80px;
}
nav a:hover{
	font-weight: bold;
}
section{
	margin: 2.5em;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}
.titulo{
	font-size: 3em;
	font-family: 'Rubik', sans-serif;
	margin: 0.5em;
	transition: .7s;
	opacity: 0;
	transform: translate3d(-15em, 0px, 0px);
}
.tituloSM{
	padding-bottom: 10px;
  font-size: 3em;
	font-family: 'Rubik', sans-serif;
  display: none;
}
.animacao{
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}
.caixaTitulo{
	display: flex;
}
p{ 
	font-size: 1.5em;
	line-height: 1.7em;
	font-family: 'Roboto', serif;
}
p > span{
	font-weight: bold;
}
#tituloConhecimentos{
	display: flex; 
	align-items: center;
	gap: 20px; 
}
#botaoDownloadCV{
	display: flex;
	align-items: center;
	color: #000;
	gap: 10px;
	font-size: 30px;
	background-color: #80C5EA;
	border-radius: 15px;
	padding: 15px;
}
#botaoDownloadCV:hover{
	box-shadow: inset 0px 0px 5px #000;
	text-shadow: 0px 5px 4px rgba(0,0,0,0.2);
}
#conhecimentos{
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-around;
}
.caixaConhecimentos{
	display: flex;
	margin-top: 3rem;
}
.caixaConhecimentos p{
	color: #71688B;
	font-weight: bold;
}
svg{
	width: 400px;
	height: 80px;
}
svg circle, line{
	stroke: #71688B; 
	stroke-width: 5;
	fill: #C59BCF;
}
.lineSM{
  display: none;
}
div.basico{
	text-align: left;
}
div.basico circle.c1{
	fill: #74CC93;
}
div.intermediario{
	text-align: center;
}
div.intermediario circle.c1,
div.intermediario circle.c2{
	fill: #74CC93;
}
#areaCards{
	display: flex; 
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.cardProjeto{
	margin-top: 1em;
	width: 300px;
	height: 300px;
	perspective: 1000px;
}
.cardProjetoGeral{
	width: 300px;
	height: 100%;
	transition: transform 0.7s;
	transform-style: preserve-3d;
}
.cardProjeto:hover .cardProjetoGeral{
	transform: rotateY(180deg);
}
.cardProjetoFrente, .cardProjetoCostas{
	background: #B6E5FF;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 17px;
	text-align: center;
}
.cardProjetoFrente h2{
	font-family: 'Rubik', sans-serif;
	font-size: 2em;
	margin: 1rem;
	background-color: #00B6DF;
	border-radius: 20px;
}
.cardProjetoFrente h3{
	font-family: 'Roboto', serif;
	margin: 0.7rem;
}
.cardProjetoFrente img{
	border: 1px solid #000;
	width: 90%;
}
.cardProjetoCostas{
	font-family: 'Roboto', serif;
	text-align: center;
	font-weight: bold;
	transform: rotateY(180deg);
}
.cardProjetoCostas p{
	font-size: 2em;
	margin: 20px 20px;
}
.cardProjetoCostas a{
	background-color: #00B6DF;
	padding: 10px;
	border-radius: 20px;
	font-size: 1.5em;
	color: #000;
}
.cardProjetoCostas a:hover{
	box-shadow: inset 0px 0px 5px #000;
	text-shadow: 0px 5px 4px rgba(0,0,0,0.2);
}
.cardEmBreve img{
	border: none;
	width: 200px;
}
@media (max-width: 1096px){
	#areaBotoes a{
		font-size: 3em;
	}
	#conhecimentos{
		grid-template-columns: none;
	}
}
@media (max-width: 981px){
	#areaBotoes a{
		font-size: 2.5em;
	}
}
@media (max-width: 866px){
	#areaBotoes a{
		font-size: 2em;
	}
}
@media (max-width: 751px){
	h1.banner{
		font-size: 7.5em;
	}
	nav{
		display: none;
	}
	#areaAnimacao{
		margin-bottom: -10px;
	}
	#areaBotoes{
		flex-direction: column;
		gap: 5px;
	}
	#areaBotoes a{
		font-size: 3em;
	}
	#SobreMim{
		flex-direction: column;
		text-align: center;
	}
	#SobreMim img{
		width: 50%;
	}
}
@media (max-width: 751px){
	.caixaTitulo{
		display: none;
	}
	.tituloSM, #botaoDownloadCVSM{
		display: unset;
	}
	section{
		text-align: center;
	}
}
@media (max-width: 546px){
	h1.banner{
		font-size: 6.5em;
	}
	.lineSM{
		display: unset;
	}
	.caixaConhecimentos p{
		font-size: 2em;
	}
	svg line{
		display: none;
	}
	svg{
    width: 170px;
    height: 60px;
  }
  svg circle{
    cy: 40px;
    r: 15px;
  }
  svg circle.c2{
    cx: 83px;
  }
  svg circle.c3{
    cx: 143px;
  }
}
@media (max-width: 459px){
	h1.banner{
		font-size: 6em;
	}
	#areaAnimacao{
		margin-bottom: 10px;
	}
}
@media (max-width: 425px){
	h1.banner{
		font-size: 5.5em;
	}
	#areaAnimacao{
		margin: 40px 0px 30px 0px;
	}
}
@media (max-width: 403px){
	h1.banner{
		font-size: 5.3em;
	}
	.tituloSM{
		font-size: 2.5em;
	}
}
@media (max-width: 377px){
	h1.banner{
		font-size: 5em;
	}
}
@media (max-width: 377px){
	h1.banner{
		font-size: 4.5em;
	}
}
@media (max-width: 345px){
	.tituloSM{
		font-size: 2em;
	}
}
@media (max-width: 335px){
	h1.banner{
		font-size: 4em;
	}
	.caixaConhecimentos p{
		font-size: 1.5em;
	}
}
